<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
          <%= will_paginate @users %>
        </tbody>
      </table>
    <%= will_paginate @users %>
    </div>
  </div>
</div>
